<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Aws-Challenger</h1>
    </div>

     <div class="ui-g-12">
      <button pButton type="submit" class="espaco-icones" label="Search" (click)='pesquisar()'></button>
    </div>

    <div class="ui-g-12">      
        <p-checkbox [(ngModel)]="historical" binary="true" label="Historical database"></p-checkbox>
    </div>

 
    <div class="ui-g-12">
      <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="100000000"
      chooseLabel="Upload" accept=".txt,.xlsx,image/*,application/*"
      [url]="urlUploadAnexo" (onUpload)='pesquisar()'></p-fileUpload>
    </div>

  </div>

  <div class="ui-g">
      <div class="ui-g-12">

          <p-table [value]="listFiles" [paginator]="true" [rows]="4" [responsive]="true"   #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Modified in</th>
                <th class="col-data-header">Size</th>
                <th class="col-valor-header">Storage Class</th>
                <th class="col-acoes-header">Actions</th>
              </tr>
            </ng-template>
          
            <ng-template pTemplate="body" let-arquivo>
              <tr>
                <td>{{ clearBarra (arquivo) }}</td>
                <td>{{ arquivo.lastModif }}</td>
                <td>{{ arquivo.size }}</td>
                <td>{{ arquivo.storageClass }}</td>
          
                <td class="col-acoes">
                  <button pButton class="espaco-icones" icon="pi pi-download"
                  pTooltip="Download" tooltipPosition="top" 
                  (click)="downloadFile(arquivo)"></button>

                  <!--<button pButton class="espaco-icones" icon="pi pi-cloud-download"
                    pTooltip="Visualizar" tooltipPosition="top" 
                    (click)="viewFile(arquivo)"></button> -->
          
                  <button pButton class="espaco-icones" icon="pi pi-trash"
                    pTooltip="Excluir" tooltipPosition="top"
                    (click)="confirmarExclusao(arquivo)"
                    [disabled]="!auth.temPermissao('ROLE_REMOVER_ARQUIVO')"></button>
                </td>
              </tr>
            </ng-template>
          
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6">
                  No files found
                </td>
              </tr>
            </ng-template>
          </p-table>

      </div>

      <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid">
        <button pButton type="submit" class="espaco-icones" label="Request Interactions" (click)='auditar()'></button>
      </div>

  </div>

</div>