<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Caros usuários,</p>

<p>Novo arquivo disponibilizado na nuvem: </p>
  	<div class="starter-template">
        <h2>
            <span th:text="'Bucket: ' + ${bucket}"></span>
        </h2>
    </div>

<p>
    <table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
        <thead>
            <tr>
                <th>Folder</th>
                <th>Arquivo</th>
            </tr>
        </thead>
        
        <tbody>
            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;">
                <td th:text="${folder}">Nome folder</td>
                <td th:text="${arquivo}">Nome arquivo</td>
            </tr>
        </tbody>
    </table>
</p>

<p>Obrigado,</p>
<p>Desafio AWS Sistemas</p>

</body>
</html>